
nav {
    background-color: #79b496;
}

.landing-section, .our-motto-section {
    height:100vh;
}

.title-section > h1 {
    font-size: 80px;
    margin: 0;
}

.landing-section {
    background-color: #deeee4;
}

.col.l12.m12.s12.logo-section {
    padding: 0 150px;
}

.logo-section-left {
    text-align: right;
    margin-top: 77px;
}

.logo-section-right {
    text-align: left;
    margin-top: 77px;
}

.logo-image {
    width: 175px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo-section-left, .logo-section-right {
    font-size: 2.5em;
    /*border-style: solid;*/
    border-top: thick double #79b496;
    border-bottom: thick double #79b496;
}

.logo-section-center {
    text-align: center;
}
.title-section {
    font-size: 3.5em;
    text-align: center;
    font-weight: 800;
    color:  #79b496;
}

.carousel.carousel-portfolio {
  height: 100vh;
}

.carousel .carousel-item .carousel-item-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.carousel .carousel-item-description {
  display: block;
  width: 100%;
}


@media only screen and (max-width: 1396px) {

    .col.l12.m12.s12.logo-section {
        padding: 0px 100px;
    }

}

@media only screen and (max-width: 1296px) {

    .logo-section-left, .logo-section-right {
        font-size: 2em;
    }

    .logo-image {
        width: 125px;
    }

    .logo-section-left, .logo-section-right {
        margin-top: 57px;
    }

}

@media only screen and (max-width: 1058px) {

    .col.l12.m12.s12.logo-section {
        padding: 0px 50px;
    }

}

@media only screen and (max-width: 928px) {

    .logo-section-left, .logo-section-right {
        font-size: 1.5em;
    }

    .logo-image {
        width: 75px;
    }

    .logo-section-left, .logo-section-right {
        margin-top: 40px;
    }

}



@media only screen and (min-width: 734px) {

    .carousel.carousel-portfolio .carousel-item {
      top: 1em;
      right: 1em;
    }

    .carousel .carousel-item .carousel-item-image {
      width: 250px;
      display: inline-block;
    }

    .carousel .carousel-item-description {
      display: inline-block;
      position: absolute;
      margin: 0;
      top: 0;
      right: 1em;
      width: 420px;
    }

}

@media only screen and (max-width: 734px) {

    .col.l12.m12.s12.logo-section {
        padding: 0px 20px;
    }

    .logo-section-left, .logo-section-right {
        font-size: 1.3em;
    }

}

@media only screen and (min-width: 928px) {

    .carousel .carousel-item .carousel-item-image {
      width: 350px;
    }

    .carousel .carousel-item-description {

      width: 520px;
    }

}
